# настройки подключения к БД
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=password
DB_SSLMODE=disable


#если используете docker compose, то оставьте значения по умолчанию
